
/* footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 15px 20px 15px;
    
}

.contact-links div{
    padding-top: 16px;
}

.back-to-top {
    display: flex;
    align-items: flex-end;
}

.back-to-top img {
    height: 40%;
    margin-left: 8px;
}

.back-to-top p{
    white-space: nowrap;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {

}